@font-face {
    font-family: 'Royal Acidbath';
        src: 
        local('Royal Acidbath'),
        url(/assets/fonts/royal_acidbath/Royalacid_o.ttf) format('truetype');

    font-family: 'Royal Acid';
        src: url(/assets//fonts/royal_acidbath/Royalacid.ttf);

    font-family: 'Star Jedi';
        src: url(/assets/fonts/star_jedi/starjedi/Starjedi.ttf);

}

/* https://github.com/madcampos/madcampos.github.io/blob/main/src/css/fonts.css
@font-face {
	font-family: 'Cascadia Code';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('./fonts/CascadiaCodePL.woff2') format('woff2');
	font-variant-alternates: styleset('ss01') styleset('ss02') styleset('ss03') styleset('ss19') styleset('ss20');
	font-variant-ligatures: common-ligatures contextual;
} */

:root {
    /* Test colours */
    
    --clr-test-red: red;
    --clr-test-lime: hsl(104, 76%, 47%);
    --clr-test-yellow: yellow;
    --clr-test-blue: blue;
    --ff-test-heading: 'Audiowide', cursive;
    --ff-test-body: 'Send Flowers', cursive;

    /* Default Theme */
    --clr-body-bg: var(--groovy--clr-orange); 
    --clr-card-bg: var(--groovy--clr-white);
    --hero-inner--title-bg-clr: var(--groovy--clr-orange);
    --hero-inner-title-border-clr: var(--groovy--clr-pink);
    --hero-inner-bg: var(--groovy--clr-grey-light);

    --clr-text: var(--groovy--clr-black);
    --clr-heading1: var(--groovy--clr-white);
    --clr-heading: var(--groovy--clr-pink);
    --clr-tagline: var(--groovy--clr-black);
    --clr-card-top: var(--groovy--clr-pink);
    --clr-link: var(--clr-test-blue);
    --clr-link-focus: var(--clr-test-red);

    --ff-code: var(--groovy--ff-code);
    --ff-heading1: var(--groovy--ff-heading1);
    --ff-heading: var(--groovy--ff-heading);
    --ff-tagline: var(--groovy--ff-tagline);
    --ff-body: var(--groovy--ff-body);

    /* Groovy Theme */
    --groovy--clr-orange: hsl(29, 96%, 44%); /*DD6D05*/
    --groovy--clr-pink: hsl(313, 97%, 35%); /*B1038B*/
    --groovy--clr-white: hsl(0, 0%, 100%); /*FFFFFF*/
    --groovy--clr-grey-light: hsla(0, 4%, 81%, .9); /*D1CDCD*/
    --groovy--clr-black:hsl(0, 0%, 0%); /*000000*/
    --groovy--ff-heading1: 'Royal Acidbath', cursive;
    --groovy--ff-heading: 'Royal Acidbath', cursive;
    --groovy--ff-tagline: 'Royal Acid', cursive;
    --groovy--ff-body:'Familjen Grotesk', sans;
    --groovy--ff-code:'Ubuntu Mono', monospace;

    /* Starwars Dark Theme */
    --starwars--clr-yellow: hsl(54, 100%, 56%); /*ffe81f*/
    --starwars--clr-pink: hsl(313, 97%, 35%); /*B1038B*/
    --starwars--clr-white: hsl(0, 0%, 100%); /*FFFFFF*/
    --starwars--clr-black:hsla(0, 0%, 11%, 0.902); /*c1c1ce6*/
    --starwars--ff-heading1: 'Star Jedi', mono;
    --starwars--ff-heading: 'Star Jedi', mono;
    --starwars--ff-tagline: 'Alegreya Sans', sans-serif;
    --starwars--ff-body:'Familjen Grotesk', sans;
    --starwars-ff-code:'Share Tech Mono', monospace;

    /* Elegant Theme */
    --elegant--clr-snow: hsl(330, 6%, 93%); /*#EFEDEE*/
    --elegant--clr-wheat: hsl(30, 76%, 34%); /*#9a5815*/
    --elegant--clr-forest: hsl(95, 15%, 16%); /*#272E22*/
    --elegant--clr-charcoal: hsl(33, 20%, 11%); /*#211C16*/
    
    /* Grey theme
    --clr-body-bg: hsl(0 0% 90%); 
    --clr-card-bg: hsl(0 0% 100%);
    --hero-inner--title-bg-clr: var(--clr-test-blue);
    --hero-inner-title-border-clr: var(--clr-test-red);
    --hero-inner-bg: var(--clr-test-yellow);

    --clr-text: hsl(0 0% 15%);
    --clr-heading1: hsl(0 0% 25%);
    --clr-heading: hsl(0 0% 25%);
    --clr-tagline: var(--clr-test-blue);
    --clr-card-top: hsl(0 0% 25%);
    --clr-link: hsl(0 0% 25%);
    --clr-link-focus: hsl(0, 0%, 10%); */
}

/* ------------------ */
/* --- TYPOGRAPHY --- */
/* ------------------ */

body {
    margin: 0;
    font-family: var(--ff-body);
    font-size: 1.25rem;
    line-height: 1.5;
    background: var(--clr-body-bg);
    color: var(--clr-text);
}

h1 {
    font-family: var(--ff-heading1);
    color: var(--clr-heading1);
}
h2, h3 {
    font-family: var(--ff-heading);
    color: var(--clr-heading);
}
h1,
h2,
h3 {
    line-height: 1.1;
}

blockquote {
    color: var(--ff-code);
    font-family: var(--ff-code);
    font-style: italic;
    background-color: var(--clr-card-bg);
    padding: 1rem;
    border-radius: 1.25rem;
    border: 8px solid var(--clr-card-top);
}

.tagline {
    font-family: var(--ff-tagline);
    color: var(--clr-tagline);
    font-size: 1.5rem;
    line-height: 1.1;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}

a:focus, a:hover {
    color: var(--clr-link-focus);
}

a:active {
    color: var(--clr-link-focus);
}

.card--content {
    background-color: var(--clr-card-bg);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

/* -------------- */
/* --- LAYOUT --- */
/* -------------- */

.auto-grid {
--min-column-size: 225px;

display: grid;
gap: clamp(1rem, 5vmax, 1.625rem);
grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--min-column-size)), 1fr)
);
}

.wrapper {
--max-width: 55rem;
width: min(100% - 2rem, var(--max-width));
margin-inline: auto;
}

.hero {
    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Background styles */
    background-image: url(/assets/hero--cropped-square.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero--inner {
    background-color: var(--hero-inner-bg);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1.25rem;
    max-width: 80vw;
}

.hero--inner-title {
    background-color: var(--hero-inner--title-bg-clr);
    padding: 1rem;
    border-radius: 1rem;
    border: 8px solid var(--hero-inner-title-border-clr);
}


.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid var(--clr-test-red);
    border-radius: 10px;
}

.card {
padding: 1rem;
background-color: var(--clr-card-bg);
/* CSS - love how this works when border is on top of border-block-start, but breaks when it's below! */
border: 1px solid var(--clr-card-top);
border-block-start: 0.5rem solid var(--clr-card-top); /* make this the same as headings */
border-radius: 0.5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card > * {
margin: 0;
}

.card > *:not(:last-child) {
margin-bottom: 0.75rem;
}
/* --- Utility Classes --- */

.emphasis--fw-600 {
    font-weight: 600;
}

.emphasis--outline {
    border: 2px, solid, var(--clr-test-red);
}

.padding--top-1 {
    padding-top: 1rem;
}
.padding--top-2 {
    padding-top: 2rem;
}

/* ---------------------------- */
/* --- COLOUR THEME PICKER ---  */
/* ---------------------------- */

/* --- Functionality --- */
.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.color-picker > fieldset {
border: 0;
display: flex;
gap: 2rem;
width: -moz-fit-content;
width: fit-content;
background: #fff;
padding: 1rem 3rem;
margin-inline: auto;
border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
appearance: none;
width: 1.5rem;
height: 1.5rem;
outline: 3px solid var(--radio-color, currentColor);
outline-offset: 3px;
border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
--radio-color: gray;
}

.color-picker input[type="radio"]#elegant {
    --radio-color: #9a5815;
    }

.color-picker input[type="radio"]#groovy {
    --radio-color: var(--groovy--clr-orange);
    }


/* -- Individual Themes -- */

.groovy {
    --clr-card-bg: var(--groovy--clr-white);
    --clr-body-bg: var(--groovy--clr-orange);
    --clr-card-top:var(--groovy--clr-pink);

    --hero-inner--title-bg-clr: var(--groovy--clr-orange);
    --hero-inner-title-border-clr: var(--groovy--clr-pink);
    --hero-inner-bg: var(--groovy--clr-grey-light);

    --clr-heading1: var(--groovy--clr-white);
    --clr-heading: var(--groovy--clr-pink);
    --clr-tagline: var(--groovy--clr-black);
    --clr-text: hsl(95, 15%, 16%);
    --clr-link: var(--groovy--clr-pink);

    --ff-heading1: var(--groovy--ff-heading1);
    --ff-heading: var(--groovy--ff-heading);
    --ff-tagline: var(--groovy--ff-tagline);
    --ff-body: var(--groovy--ff-body);
}

.starwars-dark {
    --clr-body-bg: var(--starwars--clr-black);
    --clr-card-bg: var(--starwars--clr-black);
    --clr-card-top: hsl(109 50% 25%);

    --hero-inner--title-bg-clr: var(--starwars--clr-black);
    --hero-inner-title-border-clr: var(--starwars--clr-yellow);
    --hero-inner-bg: var(--starwars--clr-black);

    --clr-heading1: var(--starwars--clr-yellow);
    --clr-heading: var(--starwars--clr-yellow);
    --clr-tagline: var(--starwars--clr-white);
    --clr-text: var(--starwars--clr-white);
    --clr-link: var(--clr-test-lime);

    --ff-heading1: var(--starwars--ff-heading1);
    --ff-heading: var(--starwars--ff-heading);
    --ff-tagline: var(--starwars--ff-tagline);
    --ff-body: var(--starwars--ff-body);
}

:root:has(#starwars-dark:checked) {
    --clr-body-bg: var(--starwars--clr-black);
    --clr-card-bg: var(--starwars--clr-black);
    --clr-text: var(--starwars--clr-white);
    --clr-heading: var(--starwars--clr-yellow);

    --ff-heading: var(--starwars--ff-heading);
}

.elegant {
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-body-bg: hsl(0, 0%, 94%);
    --clr-text: hsl(95, 15%, 16%);
    --clr-card-top:var(--wheat);
    --clr-heading: var(--wheat);
    --clr-link: var(--wheat);
}

:root:has(#elegant:checked) {
    --clr-body-bg: hsl(0, 0%, 94%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(95, 15%, 16%);
    --clr-heading: var(--wheat);
}

/* EXAMPLE
.green {
    --clr-body-bg: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --clr-text: hsl(109 50% 15%);
    --clr-card-top: hsl(109 50% 25%);
    --clr-heading: hsl(109 50% 25%);
    --clr-link: hsl(109, 50%, 25%);
}

:root:has(#green:checked) {
    --clr-body-bg: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --clr-text: hsl(109 50% 15%);
    --clr-heading: hsl(109 50% 25%);
} */

@media screen and (min-width: 600px)  {
    
    .hero {
        background-image: url(/assets/hero-medium.jpg);
    }
    .hero h1 {
        /* Text styles */
        font-size: 5em;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .hero--inner {
        /* background-color: #D1CDCD; */
        padding: 2rem;
        margin: 2rem;
        border-radius: 1.25rem;
        max-width: 80vw;
    }

    .hero--inner-title {
        padding: 1.25rem;
        border-radius: 1.25rem;

    }

    /* blockquote {
        max-width: 70vw;
        align-self: center;
    } */


}