@font-face {
    /* font-family: 'Royal Acidbath';
        src: 
        local('Royal Acidbath'),
        url(/assets/fonts/royal_acidbath/Royalacid_o.ttf) format('truetype');

    font-family: 'Royal Acid';
        src: url(/assets//fonts/royal_acidbath/Royalacid.ttf); */

    font-family: 'Star Jedi';
        src: url(/assets/fonts/star_jedi/starjedi/Starjedi.ttf);

}

:root {
    /* Test / Dev  - will not be in final app's UI*/
    
    --clr-test-red: red;
    --clr-test-lime: hsl(104, 76%, 47%);
    --clr-test-yellow: yellow;
    --clr-test-blue: blue;
    --ff-test-heading: 'Audiowide', cursive;
    --ff-test-body: 'Send Flowers', cursive;

    /* Background Image Options */
    --bg-img-regular: url(/assets/hero--cropped-square.png) filter(greyscale(0%));
    --bg-img-greyscale: url(/assets/hero--cropped-square.png) filter(greyscale(60%));

    /* Utility */
    --line-height--default: 1.5;

    /* Default Theme */
    --color-picker--bg: var(--groovy--clr-grey-light);
    --clr-body-bg: var(--groovy--clr-orange); 
    --clr-card-bg: var(--groovy--clr-white);
    --hero-inner--title-bg-clr: var(--groovy--clr-orange);
    --hero-inner-title-border-clr: var(--groovy--clr-pink);
    --hero-inner-bg: var(--groovy--clr-grey-light);

    --clr-text: var(--groovy--clr-black);
    --clr-heading1: var(--groovy--clr-white);
    --clr-heading: var(--groovy--clr-pink);
    --clr-tagline: var(--groovy--clr-black);
    --clr-card-top: var(--groovy--clr-pink);
    --clr-link: var(--groovy--clr-orange);
    --clr-link-focus: var(--groovy--clr-pink);

    --ff-code: var(--groovy--ff-code);
    --ff-heading1: var(--groovy--ff-heading1);
    --ff-heading: var(--groovy--ff-heading);
    --ff-tagline: var(--groovy--ff-tagline);
    --ff-body: var(--groovy--ff-body);
    --line-height: var(--line-height--default);

    /* Groovy Theme */
    --groovy--clr-orange: hsl(29, 96%, 44%); /*DD6D05*/
    --groovy--clr-pink: hsl(313, 97%, 35%); /*B1038B*/
    --groovy--clr-white: hsl(0, 0%, 100%); /*FFFFFF*/
    --groovy--clr-grey-light: hsla(0, 4%, 81%, .9); /*D1CDCD*/
    --groovy--clr-black:hsl(0, 0%, 0%); /*000000*/
    --groovy--ff-heading1: 'Chicle', cursive;
    --groovy--ff-heading: 'Chicle', cursive;
    --groovy--ff-tagline: 'Chicle', cursive;
    --groovy--ff-body:'Familjen Grotesk', sans;
    --groovy--ff-code:'Ubuntu Mono', monospace;

    /* Starwars Dark Theme */
    --starwars--clr-yellow: hsl(54, 100%, 56%); /*ffe81f*/
    --starwars--clr-white: hsl(0, 0%, 100%); /*FFFFFF*/
    --starwars--clr-black:hsla(0, 0%, 11%, 0.902); /*c1c1ce6*/
    --starwars-clr-blue: hsl(223, 94%, 58%); /*#2E67F8*/
    --starwars--ff-heading1: 'Star Jedi', mono;
    --starwars--ff-heading: 'Star Jedi', mono;
    --starwars--ff-tagline: 'Alegreya Sans', sans-serif;
    --starwars--ff-body:'Familjen Grotesk', sans;
    --starwars-ff-code:'Share Tech Mono', monospace;

    /* Elegant Theme */
    --elegant--clr-snow: hsl(330, 6%, 93%); /*#EFEDEE*/
    --elegant--clr-wheat: hsl(30, 76%, 34%); /*#9a5815*/
    --elegant--clr-forest: hsl(95, 15%, 16%); /*#272E22*/
    --elegant--clr-charcoal: hsl(33, 20%, 11%); /*#211C16*/
    --elegant--ff-serif: 'Playfair Display', serif;
    --elegant--ff-sans: 'Inter', sans-serif;

    /* Simple Dark - Dylslexia Friendly Theme */
    --simple-dark--clr-black: hsl(0, 0%, 11%); /*1d1d1d*/
    --simple-dark--clr-grey: hsl(0, 0%, 50%); /*808080*/
    --simple-dark--clr-white: hsl(0, 11%, 91%); /*FFFFFF*/
    --simple-dark--clr-grey-platium:hsl(40, 5%, 89%); /*E5E4E2*/
    --simple-dark--clr-grey-charcoal: hsl(204, 19%, 26%); /*#36454F*/
    --simple-dark--clr-blue-light: hsl(204, 86%, 37%); /*#36454F*/
    --simple-dark--ff-heading1: 'Arial black', sans-serif;
    --simple-dark--ff-heading: 'Arial', sans-serif;
    --simple-dark--ff-tagline: 'Arial', sans-serif;
    --simple-dark--ff-body:'Arial', sans-serif;
    --simple-dark-ff-code:'Courier New', monospace;
    --simple-dark--line-height: 2.5rem;
}

/* ------------------ */
/* --- TYPOGRAPHY --- */
/* ------------------ */

body {
    margin: 0;
    font-family: var(--ff-body);
    font-size: 1.25rem;
    line-height: var(--line-height);
    background: var(--clr-body-bg);
    color: var(--clr-text);
}

h1 {
    font-family: var(--ff-heading1);
    color: var(--clr-heading1);
}
h2, h3 {
    font-family: var(--ff-heading);
    color: var(--clr-heading);
}
h1,
h2,
h3 {
    line-height: 1.1;
}

blockquote {
    color: var(--ff-code);
    font-family: var(--ff-code);
    font-style: italic;
    background-color: var(--clr-card-bg);
    padding: 1rem;
    border-radius: 1.25rem;
    border: 8px solid var(--clr-card-top);
}

.tagline {
    font-family: var(--ff-tagline);
    color: var(--clr-tagline);
    font-size: 1.5rem;
    line-height: 1.1;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}

a:focus, a:hover {
    color: var(--clr-link-focus);
}

a:active {
    color: var(--clr-link-focus);
}

.card--content {
    background-color: var(--clr-card-bg);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

/* -------------- */
/* --- LAYOUT --- */
/* -------------- */

.auto-grid {
--min-column-size: 225px;

display: grid;
gap: clamp(1rem, 5vmax, 1.625rem);
grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--min-column-size)), 1fr)
);
}

.auto-grid-how-much-yarn {
    --min-column-size: 320px;
    
    display: grid;
    gap: clamp(1rem, 5vmax, 1.625rem);
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
    );
    }

.wrapper {
--max-width: 55rem;
width: min(100% - 2rem, var(--max-width));
margin-inline: auto;
}

.hero {
    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Background styles */
    background-image: url(/assets/hero--cropped-square.png);
    /* filter: grayscale(100%); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero--inner {
    background-color: var(--hero-inner-bg);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1.25rem;
    max-width: 80vw;
}

.hero--inner-title {
    background-color: var(--hero-inner--title-bg-clr);
    padding: 1rem;
    border-radius: 1rem;
    border: 8px solid var(--hero-inner-title-border-clr);
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 3px solid var(--clr-card-top);
    background-color: var(--clr-card-bg);
    color: var(--clr-card-top);
    border-radius: 10px;
}

button:active {
    border: 6px solid var(--clr-card-bg);
    background-color: var(--clr-card-top);
    color: var(--clr-card-bg);
}

button:focus, button:hover {
    border: 3px solid var(--clr-card-bg);
    background-color: var(--clr-card-top);
    color: var(--clr-card-bg);
    transition: all .3s;
}

.card {
padding: 1rem;
background-color: var(--clr-card-bg);
/* CSS - love how this works when border is on top of border-block-start, but breaks when it's below! */
border: 1px solid var(--clr-card-top);
border-block-start: 0.5rem solid var(--clr-card-top); /* make this the same as headings */
border-radius: 0.5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card > * {
margin: 0;
}

.card > *:not(:last-child) {
margin-bottom: 0.75rem;
}
/* --- Utility Classes --- */

.emphasis--fw-600 {
    font-weight: 600;
}

.emphasis--outline {
    border: 2px, solid, var(--clr-test-red);
}

.padding--top-1 {
    padding-top: 1rem;
}
.padding--top-2 {
    padding-top: 2rem;
}

.clr--heading {
    color: var(--clr-heading);
}

.align--center {
    text-align: center;
}

.width--max-85vw {
    max-width: 85vw;
}

.margin--1rem {
    margin: 1rem;
}

.margin--bottom-1rem {
    margin-bottom: 1rem;
}

.margin--sides-2rem {
    margin: 2rem;
}

.uppercase {
    text-transform: uppercase;
}








/* ---------------------------- */
/* --- COLOUR THEME PICKER ---  */
/* ---------------------------- */

/* --- Functionality --- */
.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.color-picker > fieldset {
border: 0;
display: flex;
gap: 2rem;
width: -moz-fit-content;
width: fit-content;
background: var(--color-picker--bg);
padding: 1rem 3rem;
margin-inline: auto;
border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
appearance: none;
width: 1.5rem;
height: 1.5rem;
outline: 3px solid var(--radio-color, currentColor);
outline-offset: 3px;
border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
--radio-color: gray;
}

.color-picker input[type="radio"]#elegant {
    --radio-color: #9a5815;
    }

.color-picker input[type="radio"]#groovy {
    --radio-color: var(--groovy--clr-orange);
    }


/* -- Individual Themes -- */

.groovy {
    --clr-card-bg: var(--groovy--clr-white);
    --clr-body-bg: var(--groovy--clr-orange);
    --clr-card-top:var(--groovy--clr-pink);

    --hero-inner--title-bg-clr: var(--groovy--clr-orange);
    --hero-inner-title-border-clr: var(--groovy--clr-pink);
    --hero-inner-bg: var(--groovy--clr-grey-light);

    --clr-heading1: var(--groovy--clr-white);
    --clr-heading: var(--groovy--clr-pink);
    --clr-tagline: var(--groovy--clr-black);
    --clr-text: hsl(95, 15%, 16%);
    --clr-link: var(--groovy--clr-orange);
    --clr-link-focus: var(--groovy--clr-pink);

    --ff-heading1: var(--groovy--ff-heading1);
    --ff-heading: var(--groovy--ff-heading);
    --ff-tagline: var(--groovy--ff-tagline);
    --ff-body: var(--groovy--ff-body);
}

.starwars-dark {
    --color-picker--bg: var(--starwars--clr-black);
    --clr-body-bg: var(--starwars--clr-black);
    --clr-card-bg: var(--starwars--clr-black);
    --clr-card-top: var(--starwars--clr-yellow);

    --hero-inner--title-bg-clr: var(--starwars--clr-black);
    --hero-inner-title-border-clr: var(--starwars--clr-yellow);
    --hero-inner-bg: var(--starwars--clr-black);

    --clr-heading1: var(--starwars--clr-yellow);
    --clr-heading: var(--starwars--clr-yellow);
    --clr-tagline: var(--starwars--clr-white);
    --clr-text: var(--starwars--clr-white);
    --clr-link: var(--starwars-clr-blue);

    --ff-heading1: var(--starwars--ff-heading1);
    --ff-heading: var(--starwars--ff-heading);
    --ff-tagline: var(--starwars--ff-tagline);
    --ff-body: var(--starwars--ff-body);
}

.elegant {
    --clr-body-bg: var(--groovy--clr-grey-light);
    --clr-card-bg: var(--elegant--clr-snow);
    --clr-card-top: var(--elegant--clr-wheat);

    --hero-inner--title-bg-clr: var(--groovy--clr-grey-light);
    --hero-inner-title-border-clr: var(--elegant--clr-wheat);
    --hero-inner-bg: var(--elegant--clr-snow);

    --clr-heading1: var(--elegant--clr-wheat);
    --clr-heading: var(--elegant--clr-charcoal);
    --clr-tagline: var(--elegant--clr-charcoal);
    --clr-text: var(--elegant--clr-charcoal);
    --clr-link: var(--elegant--clr-wheat);

    --ff-heading1: var(--elegant--ff-serif);
    --ff-heading: var(--elegant--ff-all);
    --ff-tagline: var(--elegant--ff-all);
    --ff-body: var(--elegant--ff-all);
}

.simple-dark {
    --color-picker--bg: var(--simple-dark--clr-grey-platium);
    --clr-body-bg: var(--simple-dark--clr-black);
    --clr-card-bg: var(--simple-dark--clr-grey-charcoal);
    --clr-card-top: var(--simple-dark--clr-grey-platium);

    --hero-inner--title-bg-clr: var(--simple-dark--clr-black);
    --hero-inner-title-border-clr: var(--simple-dark--clr-grey);
    --hero-inner-bg: var(--simple-dark--clr-black);

    --clr-heading1: var(--simple-dark--clr-grey-platium);
    --clr-heading: var(--simple-dark--clr-white);
    --clr-tagline: var(--simple-dark--clr-white);
    --clr-text: var(--simple-dark--clr-white);
    --clr-link: var(--simple-dark--clr-blue-light);

    --ff-heading1: var(--simple-dark--ff-heading1);
    --ff-heading: var(--simple-dark--ff-heading);
    --ff-tagline: var(--simple-dark--ff-tagline);
    --ff-body: var(--simple-dark--ff-body);
    --line-height: var(--simple-dark--line-height);
}

:root:has(#starwars-dark:checked) {
    --clr-body-bg: var(--simple-dark--clr-black);
    --clr-card-bg: var(--simple-dark-clr-grey-charcoal);
    --clr-text: var(--simple-dark--clr-grey-platium);
    --clr-heading: var(--starwars--clr-yellow);

    --ff-heading: var(--simple-dark--ff-heading);
}

:root:has(#simple-dark:checked) {
    --clr-body-bg: var(--starwars--clr-black);
    --clr-card-bg: var(--starwars--clr-black);
    --clr-text: var(--starwars--clr-white);
    --clr-heading: var(--simple-dark--clr-white);

    --ff-heading: var(--simple-dark--ff-heading);
}

:root:has(#elegant:checked) {
    --clr-body-bg: hsl(0, 0%, 94%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(95, 15%, 16%);
    --clr-heading: var(--elegant--clr-wheat);
}

/* Nav */

nav ul {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--clr-body-bg);
    height: 100vh;
    margin-top: 5rem;
    padding-top: 5em;
    z-index: 100;
}


nav ul li a {
    color: var(--clr-heading1);
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    display: block;
}

.exit a {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

.menu {
    color: var(--clr-test-lime);
    fill: currentColor;
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

ul.nav {
    list-style: none;
}


ul.nav li a {
    font-size: 2rem;
    padding: 0 1em;
    font-weight: normal;
}

ul.nav li:last-child a {
    padding-right: 0;
}

ul.nav .active a {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

ul.nav:hover a {
    font-weight: bold;
    color: green;
    text-decoration: underline 1px var(--clr-card-top);
}

/* #nav-focus {
    color: blueviolet;
} */

/* MEDIA QUERIES */

@media screen and (min-width: 600px)  {
    
    .hero {
        background-image: url(/assets/hero-medium.jpg);
    }
    .hero h1 {
        /* Text styles */
        font-size: 5em;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .hero--inner {
        /* background-color: #D1CDCD; */
        padding: 2rem;
        margin: 2rem;
        border-radius: 1.25rem;
        max-width: 80vw;
    }

    .hero--inner-title {
        padding: 1.25rem;
        border-radius: 1.25rem;

    }

    /* blockquote {
        max-width: 70vw;
        align-self: center;
    } */


}